li{
    cursor: pointer;
    background-color: black;
    /* cor do fundo do elemento */
    color: aliceblue;
    /* cor das letras do elemento */
    display: inline-block;
    /* ferramenta usada tipo pra fazer uma caixa com o elemento e não quebrar de linha */
    margin-bottom: 25px;
    /* margem da parte de baixo */
    margin-right: 20px;
    /* margem da parte direita */
    padding-bottom: 120px;
    /* espaçamento da parte de DENTRO do elemento */
    border: solid 4px black;
    /* borda do elemento */
    border-radius: 3px;
    /* arredondamento das bordas */
}

.selected{
    border: solid 4px blue;
    /* borda do elemento que tem que ser destacado */
}

.hidden{
    display: none;
    /*display : none , faz com que o conteudo que esteja dentro da 
    class/id/name qual quer coisa, suma(mas ainda continua no codigo)*/
}